<ul>
    {% for tarefa in tarefas %}

        <li class="tarefa-item">

            <div class="tarefa-header">
                <p class="tarefa-titulo">Nome da Tarefa:  {{ tarefa.titulo }}</p>
                <p class="tarefa-responsavel">Responsável: {{ tarefa.usuario }}</p>
            </div>

            <div class="tarefa-info">
                <span class="badge badge-{{ tarefa.status }}">Status: {{ tarefa.get_status_display }}</span>
                <span class="badge badge-{{ tarefa.prioridade }}">Prioridade: {{ tarefa.get_prioridade_display }}</span>
                <span class="tarefa-prazo">Prazo: {{ tarefa.prazo|date:"d/m/Y" }}</span>
            </div>

            <div class="tarefa-acoes">
                <a class="btn" href="{% url 'editar_tarefa' tarefa.id %}">Editar</a>
                <a class="btn btn-danger" href="{% url 'excluir_tarefa' tarefa.id %}">Excluir</a>
                <form method="post" action="{% url 'alternar_status' tarefa.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="novo_status" value="{{ tarefa.mudanca_status.0 }}">
                    <button type="submit" class="btn">Atualizar Status</button>
                </form>
            </div>
        </li>
    {% empty %}
        <p>Nenhuma tarefa cadastrada.</p>
    {% endfor %}
</ul>