{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="{% static 'tarefas/style.css' %}">
    <meta charset="UTF-8">
    <title>Tarefas Arquivadas</title>
</head>
<body>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}    
        {% endif %}
        <h1>Tarefas Arquivadas</h1>
        <a href="{% url 'listar_tarefas' %}" class="btn">Voltar</a>
        {% for tarefa in tarefas %}
            <div class="tarefa-item">

                <div class="tarefa-header">
                    <p class="tarefa-titulo">Nome da Tarefa:  {{ tarefa.titulo }}</p>
                    <P class="tarefa-descricao">Descrição: {{ tarefa.descricao }}</P>
                </div>
                <div class="tarefa-actions">
                    <form method="post" action="{% url 'desarquivar_tarefa' tarefa.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn">Desarquivar</button>
                    </form>
                </div>
            </div>
        {% empty %}
            <p>Nenhuma tarefa arquivada.</p>
        {% endfor %}
        <div class="paginacao">
            {% if tarefas.has_previous %}
            <a href="?page={{ tarefas.previous_page_number }}" class="btn">Anterior</a>
            {% endif %}
            <span>Página {{tarefas.number}} de {{tarefas.paginator.num_pages}}</span>

            {% if tarefas.has_next %}
            <a href="?page={{ tarefas.next_page_number }}" class="btn">Próxima</a>
            {% endif %}
    </div>
</body>
</html>