{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'tarefas/style.css' %}">
    <meta charset="UTF-8">
    <title>Minhas Tarefas</title>
</head>
<body>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}    
        {% endif %}
        <h1>Minhas Tarefas</h1>
        <form method='post' action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Sair</button>"
        </form>
        <a href="{% url 'criar_tarefa' %}">Criar Nova Tarefa</a>
        <ul>
            {% for tarefa in tarefas %}
                <li class="tarefa-item">
                <p>Responsável: {{ tarefa.usuario }}</p>
                <p>Nome: {{ tarefa.titulo }}</p>
                <p>Status: {{ tarefa.get_status_display }}</p>
                <p>Prioridade: {{ tarefa.get_prioridade_display }}</p>
                <p>Prazo: {{ tarefa.prazo|date:"d/m/Y" }}</p>
            <form method='post' action="{% url 'alternar_status' tarefa.id %}">
                {% csrf_token %}
            <input type="hidden" name="novo_status" value="{{ tarefa.mudanca_status.0 }}">
            <a class="btn" href="{% url 'editar_tarefa' tarefa.id %}">Editar</a>
            <a class="btn" href="{% url 'excluir_tarefa' tarefa.id %}">Excluir</a>
            <button type="submit">Atualizar Status</button>
                </form>
        </li>
    {% empty %}
        <p>Nenhuma tarefa cadastrada.</p>
    {% endfor %}
</ul>
    </div>
</body>
</html>
